<template>
    <div>
        <h1 class="mt-5 mb-4 pb-2 text-uppercase text-center">Importar Dados de Produção</h1>

        <div v-if="!erros.length" class="container-sm">
            <div class="form-group mb-4">
                <label for="csv">Arquivo</label>
                <input id="csv"
                       type="file"
                       class="form-control-file"
                       v-bind:class="{ 'is-invalid': submitted && !isArquivoValid() }"
                       v-on:change="setFile"/>
                <div class="invalid-feedback">Selecione um arquivo CSV a ser importado</div>
            </div>

            <div class="form-group">
                <label>Tipo da tabela</label><br/>
                <label class="mr-3"><input type="radio" value="pevs" v-model="tipo" class="mr-2"/> PEVS</label>
                <label class="mr-3"><input type="radio" value="ppm" v-model="tipo" class="mr-2"/> PPM</label>
                <label class="mr-3"><input type="radio" value="lspa" v-model="tipo" class="mr-2"/> LSPA</label>
                <div class="invalid-feedback">Selecione o tipo da tabela</div>
            </div>

            <button type="button" class="btn btn-dark btn-md mt-4 d-block mx-auto"
                    v-on:click="importar(false)"
                    v-bind:disabled="loading">
                Importar
            </button>
            <div v-if="loading" class="loader mx-auto mt-4"></div>
        </div>
        <div v-else>
            <p class="red font-weight-bold text-center">Ocorreram os seguintes erros durante<br/> a importação dos dados:</p>

            <div v-for="erro in erros">{{ erro }}</div>

            <div class="text-center mt-4">
                <button type="button" class="btn btn-dark btn-md mt-4"
                        v-on:click="voltar">
                    Cancelar
                </button>
                <button type="button" class="btn btn-dark btn-md mt-4"
                        v-on:click="importar(true)"
                        v-bind:disabled="loading">
                    Continuar
                </button>
                <div v-if="loading" class="d-block loader mx-auto mt-4"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Importar mounted.')
        },
        data() {
            return {
                arquivo: null,
                tipo: 'pevs',
                erros: [],
                submitted: false,
                loading: false,
            }
        },
        methods: {
            setFile(e) {
                e.preventDefault();
                this.arquivo = e.target.files[0];
                console.log(this.arquivo)
            },
            isArquivoValid() {
                return this.arquivo && this.arquivo.type === 'text/csv'
            },
            importar(force) {
                this.submitted = true

                if (!this.isArquivoValid()) {
                    return
                }

                this.loading = true;

                const formData = new FormData();
                formData.append('csv', this.arquivo);
                formData.append('force', force ? '1' : '0');

                this.$http.post('importar/' + this.tipo, formData)
                    .then(data => data.json())
                    .then(data => {
                        this.loading = false
                        this.submitted = false
                        this.erros = []
                        this.arquivo = null
                    })
                    .catch(error => {
                        this.loading = false

                        if (error.body.data) {
                            this.erros = error.body.data.errors
                            return
                        }

                        console.error('Erro ao importar dados: ' + JSON.stringify(error))
                    })
            },
            voltar() {
                this.submitted = false
                this.erros = []
            },
        },
    }
</script>
