<template>
  <header class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-sm m-auto d-none d-md-block">
          <img class="logo-incaper" src="/img/incaper.png">
        </div>
        <div class="col-sm m-auto text-center">
          <img class="logo" src="/img/logo.png">
        </div>
        <div class="col-sm m-auto d-none d-md-block">
        </div>
      </div>
    </div>
  </header>
</template>

<script>
  export default {
  }
</script>
