body {
  background: $body-bg;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.container-sm {
  max-width: 300px;
  margin: 0 auto;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.logo-incaper {
  max-width: 100px;
}

.logo {
  max-width: 250px;
}

.nav-item.active {
  border-bottom: 5px solid $dark;
  padding-bottom: 0 !important;
}

.nav-link {
  text-transform: uppercase;
  font-weight: bold;
}

.btn-md {
  min-width: 150px;
  font-weight: bold;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  margin-top: 0;
  background-color: $dark;
  border: none;
  border-radius: 0;
}

.dropdown-item {
  padding: 5px 10px;
  color: $white;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: $white;
  background-color: $primary;
}

.form-control-sm {
  width: 95px;
}

.red {
  color: red;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid $dark;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

.select {
  width: 100%;
  line-height: 35px;

  button {
    width: 100%;
    border: none !important;
  }

  .buttonLabel {
    width: 100%;
    text-align: left;
    font-size: 16px;
  }

  .caret {
    position: absolute;
    right: 3px;
    top: 40%;
  }

  .checkboxLayer {
    width: 300px;
  }

  .helperContainer {
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

table {
  th {
    border: 1px solid #444;
    font-weight: 500;
  }

  td {
    border: 1px solid #CED4DA;
  }

  th, td {
    font-size: 14px;
    padding: 7px;
  }
}

@media (min-width: 979px) {
  li.dropdown:hover > .dropdown-menu {
    display: block;
  }
}
